<!--

  //LAU Kwan Kit
//301256503
//January 2023
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <h1 class="display-4"><%= title %> page</h1>
      <br />
      <table id="contactTable">
        <tr>
            <td style="min-width:200px">
                Contact Name
            </td>
            <td style="min-width:200px">
                Contact Number
            </td>
            <td style="min-width:200px">
                Email Address
            </td>
        </tr>
        <tr>
            <td>
                loading....
            </td>
        </tr>
      </table>
    </div>
  </main>
  <script>
    async function fetchAllContacts(){
        try {
            let res = await fetch('/allbusinesscontacts')
            let answer = await res.json()
            let htmlAttachment = `<tr>
                    <td style="min-width:200px">
                        Contact Name
                    </td>
                    <td style="min-width:200px">
                        Contact Number
                    </td>
                    <td style="min-width:200px">
                        Email Address
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>`
            console.log(answer)
            answer.forEach(item => {
                let htmlSegment = `
                <tr>
                    <td>
                        ${item.name}
                    </td>
                    <td>
                        ${item.number}
                    </td>
                    <td>
                        ${item.email}
                    </td>
                    <td>
                        <i class="bi bi-pencil-square">sdfsf</i>
                    </td>
                    <td>
                        <i class="bi bi-x-square" />
                    </td>
                </tr>
                `
                htmlAttachment = htmlAttachment + htmlSegment
            })
            document.getElementById("contactTable").innerHTML = htmlAttachment
        } catch (err) {
            console.log(err)
        }

    }

    fetchAllContacts()
  </script>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




